.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  background: lightgray;
}

.front-image{
  height: 400px;
  width: auto;
 
  border-radius: 25px;

}



.background-image{
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-align: center;
  align-items: center;
  height: 300px;
  width: auto;
  border-radius: 25px;
  float:left;
  padding: 5px;
  display:table
  

}



          
